<ul class="navbar-nav mr-auto mobile-hide-large">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Mainnet Azalea
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Mainnet Azalea</a>
            <a class="dropdown-item" href="#">Testnet Nikau</a>
        </div>
      </li>
</ul>
